*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  counter-reset: figure;
}

.blue {
  background-color: #00adef;
  padding: 3px;
}

.navbar {
  background-color: #00adef;
}

.navbar .brand {
  padding-right: 10px; 
}

.navbar .title {
  float: left;
  display: block;
  padding: 10px 20px 10px 0px; 
}

.navbar .nav > li:nth-child(even) > a,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #00adef; }

.navbar .nav > li {
  border-left: 1px solid #63D1F4; 
}

.navbar .nav > li:last-child {
  border-right: 1px solid #63D1F4; 
}

nav[data-type="toc"] ol li ol {
  display: none;
}

div.navigation {
  margin-top: 30px;
}

div.navigation ul {
  padding-left: 0;
}

div.navigation ul li {
  display: inline-block;
  padding: 7px;
}

div.navigation ul li.prev:before {
  content: "< ";
}

div.navigation ul li.next:after {
  content: " >";
}

div.navigation ul li.prev {
  float: left;
}

div.navigation ul li.next {
  float: right;
}

.booktitle {
  background-image: url("bird.png");
  background-repeat: no-repeat;
  background-position: right top;
  border-bottom: 2px solid #00adef;
}

.splash div {
}

.titlepage {
  background-image: url("titlepage.svg"); 
  background-repeat: no-repeat;
  background-size: 600px auto;
  width: 600px;
  height: 200px;
  display: block;
  margin-top: 30px;
}

.lede {
  font-size: 1.1em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.lede p {
  margin-bottom: 0;
}

.bluetop {
  border-top: 2px solid #00adef;
}

img.toc {
  width: 100px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

.bubble {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
  overflow: hidden;
  text-align: center;
}

.bubble img {
  width: 100px;
  vertical-align: middle;
}

p.supplemental {
  font-size: 0.8em;
  margin-top: 0;
}

.logo.logo-white {
  background-image: url("logo-white.svg"); 
  height: 16px;
  width: 85px;
}

.logo.logo-white-titleonly {
  background-image: url("logo-white-titleonly.svg"); 
  height: 16px;
  width: 220px;
}

figure {
  text-align: center;
}

figcaption:before {
  content: "Figure " counter(figure) ": ";
  counter-increment: figure;
}

figcaption {
  font-style: italic;
  margin: 10px 0 10px 0;
}

pre {
  margin-left: 30px;
}

div[data-type="note"], div.navigation li {
  background-color: #F0F8FF;
  border-radius: 5px;
  border: 1px solid #63D1F4;
  padding: 1px 10px;
  margin: 30px 0;
}